[

 {:db/id #db/id[:db.part/db]
  :db/ident :contact/product-id
  :db/valueType :db.type/long
  :db/cardinality :db.cardinality/many
  :db/index true
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :contact/type
  :db/valueType :db.type/keyword
  :db/cardinality :db.cardinality/many
  :db/index true
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :contact/full-name
  :db/valueType :db.type/keyword
  :db/cardinality :db.cardinality/one
  :db/index true
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :contact/email
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/many
  :db/index false
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :contact/phone
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/many
  :db/index false
  :db.install/_attribute :db.part/db}
]
